<div class="container">
  <div class="row mb-3 text-light">
    <h4>会員情報編集</h4>
  </div>
  <%= form_with model: @customer, url: customers_information_path, local:true do |f| %>

    <div class="form-group row">
      <%= f.label :ニックネーム, class: "col-md-3 text-light" %>
      <%= f.text_field :nickname, class: "col-md-2 form-control" %>
    </div>

    <div class="form-group row">
      <%= f.label :メールアドレス, class: "col-md-3 text-light" %>
      <%= f.text_field :email, class: "col-md-2 form-control" %>
    </div>


    <div class="form-group row d-flex">
      <%= f.submit "編集内容を保存", class: "btn btn-success col-md-2 offset-3" %>
    </div>

      <%= link_to "退会する", customers_unsubscribe_path(@customer), class: "btn btn-danger" %>
    <% end %>

</div>