<div class="container">
  <div class="row">
    <div class="col">
       <div class="d-flex justify-content-center mb-4 text-black">
       </div>

        <div class="col mb-5 text-white" style="background-color: #343a40; opacity: 0.8;">
          <div class="text-center">
            <h3>ようこそ,ISO_whiskey_reviewへ！！</h3>
              <p>
                このサイトはおうち時間を充実させる為のウイスキーレビューサイトです。<br>
                昨今の流行り病の影響であまり外出ができずに家で過ごさなければいけない時間<br>
                [おうち時間]が増えた事により,家にいる時間を充実させるられるような事を考えた時<br>
                自分がウイスキーが好きでこれまでに沢山のウイスキーを呑んできた事を活かして<br>
                沢山の人にウイスキーの魅力を知ってもらい,家にいる時の楽しみを増やすことができたらと思い<br>
                今回の様なレビューサイトの製作をしました。<br>
                お酒が全く飲めない人でも興味を持ってもらえるようなサイトを目指しました。<br>
              </p>
               <p>まずはこちらの<%= link_to 'ゲストログイン', customers_gest_sign_in_path, method: :post %>でお試しください！</p>
           </div>
        </div>



    <div class="container">
    <h2 class="mt-5 mb-3 text-white text-center" style="background-color: #343a40; opacity: 0.8; width: 200px;">新着レビュー</h2>

        <div class="row">

        <% @reviews.each do |review| %>
        <div class="col-2">
        <div class="card mx-auto mt-4 bg-dark text-white">

        <%= link_to admin_review_path(review) do %>
          <% if review.image.attached? %>
            <%= image_tag review.image, class:"card-img-top top-review-image" %>
          <% else %>
            <%= image_tag 'no_image.jpg', class:"card-img-top top-review-image" %>
          <% end %>
        <% end %>

            <div class="card-body">
            <h6 class="card-title">
              <%= link_to review.whiskey_name, admin_review_path(review), class: 'text-white' %>
            </h6>
            <div class="card-text">
              <%= simple_format(review.genre.genre_name) %>
            </div>
            </div>
            <div class="card-footer text-right">
              <small>
                <%= review.created_at.in_time_zone('Tokyo').strftime('%Y年%m月%d日 %H時%m分') %>
              </small>
            </div>
         </div>
         </div>
          <% end %>
        </div>

      </div>
    </div>
  </div>



<!--<script>-->
<!--  var elem = document.getElementById('raty')-->
<!--  var opt = {-->
<!--    starOn: "<%#= asset_path('star-on.png') %>",-->
<!--    starOff: "<%#= asset_path('star-off.png') %>",-->
<!--    starHalf: "<%#= asset_path('star-half.png') %>",-->
<!--    readOnly: true,-->
     <%#= @comment.star[:id] %>
<!--  }-->
<!--  raty(elem, opt)-->
<!--</script>-->


