<div class="row">
  <div class="col m-3">
   <h2 class="text-white">レビュー編集</h2><br>
   <div class="row">
    <div class="mx-auto">
       <%= form_with model: @review, url: admin_review_path(@review), local:true do |f| %>
       <table class="table table-borderless table-dark" style="opacity: 0.8;">
       <tr></tr>
       <th><%= f.label :ウイスキー画像 %></th>
       <td><%= f.file_field :image, accept: "image/*" %></td>

       <tr></tr>
       <th><%= f.label :ウイスキー名 %></th>
       <td><%= f.text_field :whiskey_name  %></th>

       <tr></tr>
       <th><%= f.label :商品説明 %></th>
       <td><%= f.text_area :introduction_text %></td>

       <tr></tr>
       <th><%= f.label :ジャンル %></th>
       <td><%= f.collection_select(:genre_id, @genres, :id, :genre_name) %></td>

      </table>
       <%= f.submit '変更を保存', class: 'btn btn-success' %>

         <div class="field">
           <%= f.label"タグ (,で区切ると複数タグ登録できます)" %>
           <%= f.text_field :name,value: @tag_list,class:"form-control"%>
         </div>

        <% end %>



       <%= link_to "レビューを削除する", admin_review_path(@review.id), method: :delete, class:"btn btn-danger","data-confirm" => "本当に削除しますか？" %>



    </div>
   </div>
  </div>
  </div>