<div class="row">
  <div class="col m-3">
     <h2 class="text-white">レビュー登録</h2><br>
     <div class="row">
      <div class="mx-auto">
       <%= form_with model: @review, url:  admin_reviews_path, method: :post, local:true do |f| %>
      <table class="table table-borderless table-dark" style="opacity: 0.8;">
      <tr></tr>
       <th><%= f.label :ウイスキー画像 %></th>
       <td><%= f.file_field :image, accept: "image/*" %></td>

      <tr></tr>
       <th><%= f.label :ウイスキー名 %></th>
       <td><%= f.text_field :whiskey_name  %></th>

      <tr></tr>
       <th><%= f.label :紹介 %></th>
       <td><%= f.text_area :introduction_text %></td>

       <tr></tr>
       <th><%= f.label :ジャンル名 %></th>
       <td><%= f.collection_select(:genre_id, @genres, :id, :genre_name) %></td>
      </table>


       <div class="field text-light">
         <%= f.label"タグ (,で区切ると複数タグ登録できます)" %>
         <%= f.text_field :name,class:"form-control"%>
       </div>

     　<div class="actions" style="margin:20px 0;">
         <%= f.submit "投稿",class:"btn btn-primary btn-block" %>
       </div>
  <% end %>



    </div>
   </div>
  </div>
</div>
