<div class="container">
 <div class="row">
  <div class="col m-3">
    <h1 class="text-black">レビュー詳細</h1><br>
    <div class = "col-9 mt-5" >
    	<div class="row">
        <div class="col -5 text-center" >
         <% if @review.image.attached? %>
        <%= image_tag @review.image, size: "300x300" %>
         <% else %>
        <%= image_tag 'no_image.jpg', class:"card-img-top top-review-image" %>
        <% end %>
                  <!--タグリスト-->
          <% @tag_list.each do |list|%>
           <div><%=list.name %>
          <%="(#{list.review_tags.count})" %></div><% end %>

    </div>
    <div class = "col -5" >
    <table class="table table-borderless table-dark" style="opacity: 0.8;">

     <tr>
       <th>ウイスキー名</th>
	     <td><%= @review.whiskey_name %></td>
     </tr>

     <tr>
	     <th>ウイスキーの紹介</th>
	     <td><%= @review.introduction_text %></td>
	   </tr>

	   <tr>
	     <th>ジャンル</th>
	           <% if @review.genre != nil %>
      <td><%= @review.genre.genre_name %></td>
            <% else %>
             <td>ジャンルはありません<td>
            <%end%>
	   </tr>
	  </table>
	    <%= link_to "コメントを送る", new_review_comment_path(@review), class:'btn btn-success' %>

	    <% @review.comments.each do |comment| %>
	    <div class="d-flex justify-content-center mb-5">
       <% if admin_signed_in? || current_customer == comment.customer %>
       <%= link_to "削除する", review_comment_path(@review.id, comment.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
     　<% end %>
     </div>
	     <div id="raty_<%= comment.id %>"></div>

    <script>
      var elem = document.getElementById('raty_<%= comment.id %>')
      var opt = {
        starOn: "<%= asset_path('star-on.png') %>",
        starOff: "<%= asset_path('star-off.png') %>",
        starHalf: "<%= asset_path('star-half.png') %>",
        readOnly: true,
        score: <%= comment.star %>,
      }
      raty(elem, opt);
    </script>
    <div>
     <p> コメント:<%= comment.comment %> </p>
    </div>

     <div>
      <p> 名前:<%= comment.customer.nickname %></p>
     </div>
	    <% end %>

	    <% if admin_signed_in? %>
      <%= link_to "編集する", edit_admin_review_path(@review), class:'btn btn-success' %>
    　<% end %>

	  </div>
	  </div>
	  </div>

  </div>
 </div>
</div>
