<div class="container">
 <div class="row">
  <div class="col m-3">
    <h1 class="text-black">レビュー詳細</h1><br>
    <div class = "col-9 mt-5" >
    	<div class="row">
        <div class="col -5 text-center" >
        <% if @review.image.attached? %>
         <%= image_tag @review.image, size: "300x300" %>
        <% else %>
         <%= image_tag 'no_image.jpg', class:"card-img-top top-review-image" %>
        <% end %>
    </div>
    <div class = "col -5" >
    <table class="table table-borderless table-dark" style="opacity: 0.8;">

     <tr>
       <th>ウイスキー名</th>
	     <td><%= @review.whiskey_name %></td>
     </tr>

     <tr>
	     <th>ウイスキーの紹介</th>
	     <td><%= @review.introduction_text %></td>
	   </tr>

	   <tr>
	     <th>ジャンル</th>
	     <td><%= @genre.genre_name %></td>
	   </tr>

	  </table>
	  


	  </div>
	   </div>
	    </div>
	     </div>
	      </div>
	       </div>